body {
	width: auto;
	margin: 0;
	padding-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0;
}

#baiduimage {
	margin-left: 38%;
	margin-top: 10%;
}

ul {
	list-style-type: none;
	margin-left: 20%;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a:link,
li a:visited {
	display: block;
	width: 60px;
	font-weight: bold;
	color: #2625E5;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

li a:hover,
li a:active {
	background-color: #F00;
}

form {
	margin-left: 20%;
	margin-top: 0px;
}

#search_text {
	width: 650px;
	height: 38px;
	border-color: #39F;
	border-style: solid;
	border-width: 1px;
	font-size: 24px;
}

#show_text {
	width: 400px;
	height: 38px;
	border-color: #39F;
	border-style: solid;
	border-width: 1px;
	font-size: 24px;
}

#button {
	height: 45px;
	width: 100px;
	background-color: #39F;
	border-style: solid;
	font-size: 24px;
	color: #FFF;
	margin-left: -10px;
}

div footer {
	margin-left: 35%;
	maigin-bottom: 0%;
	margin-top: 200px;
	margin-bottom: auto;
}
.solution_div{
	margin-bottom: 30px;
}
.provider_div{
	margin-bottom: 30px;
}
.agreement_rate{
	float: right;width: 80px;height: 30px;
}
.solution{
	float: left;
}
.provider{
	width: 80px;height: 60px;float: left;
}
.page{
	margin-top: 30px;
	margin-bottom: 30px;
}
