<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yq.se.mapper.UserMapper">
    <sql id="table_name">t_user</sql>
    <sql id="fields">
        id,
        username,
        password,
        nickname,
        phone,
        create_date,
        status
    </sql>
    <sql id="insert_fields">
        id,
        username,
        password,
        nickname,
        phone,
        create_date,
        status
    </sql>
    <sql id="values">
        #{user.id},
        #{user.username},
        #{user.password},
        #{user.nickname},
        #{user.phone},
        #{user.createDate},
        #{user.status}
    </sql>
    <sql id="set">
        <set>
            <if test="user.password!=null">password = #{user.password},</if>
            <if test="user.nickname!=null">nickname = #{user.nickname},</if>
            <if test="user.phone!=null">phone = #{user.phone},</if>
            <if test="user.status!=null">status = #{status}</if>
        </set>
    </sql>
    <sql id="where">
        <where>
            <if test="user.id!=null">id = #{user.id}</if>
            <if test="user.username!=null">or username = #{user.username}</if>
        </where>
    </sql>
    <sql id="page_break">
        <if test="sort!=null">order by ${sort}</if>
        <if test="position>0">
            <if test="columns>0">
                limit ${position} , ${columns}
            </if>
        </if>
    </sql>
    <resultMap id="user_map" type="com.yq.se.model.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="create_date" property="createDate"/>
        <result column="status" property="status"/>
    </resultMap>
    <insert id="add">
        <selectKey resultType="int" keyColumn="id" keyProperty="user.id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into
        <include refid="table_name"/>
        (<include refid="insert_fields"/>)
        values(<include refid="values"/>)
    </insert>
    <update id="modify">
        update
        <include refid="table_name"/>
        <include refid="set"/>
        <include refid="where"/>
    </update>
    <delete id="delete">
        delete from
        <include refid="table_name"/>
        <include refid="where"/>
    </delete>
    <select id="queryById" resultMap="user_map">
        select
        <include refid="fields"/>
        from
        <include refid="table_name"/>
        <include refid="where"/>
        <include refid="page_break"/>
    </select>
    <select id="queryAll" resultType="com.yq.se.model.User">
        select
        <include refid="fields"/>
        from
        <include refid="table_name"/>
        where status = #{status}
        <include refid="page_break"/>
    </select>
</mapper>