<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yq.se.mapper.UserMapper">
    <sql id="table_name">t_user</sql>
    <sql id="fields">
        id,
        username,
        password,
        nickname,
        phone,
        create_date AS createDate,
        status
    </sql>
    <sql id="insert_fields">
        id,
        username,
        password,
        nickname,
        phone,
        create_date,
        status
    </sql>
    <sql id="values">
        #{user.id},
        #{user.username},
        #{user.password},
        #{user.nickname},
        #{user.phone},
        #{user.createDate},
        #{user.status}
    </sql>
    <sql id="set">
        <set>
            <if test="user.password!=null">password = #{user.password},</if>
            <if test="user.nickname!=null">nickname = #{user.nickname},</if>
            <if test="user.phone!=null">phone = #{user.phone},</if>
            <if test="user.status!=null">status = #{status}</if>
        </set>
    </sql>
    <sql id="where">
        <where>
            <if test="user.id!=null">id = #{user.id}</if>
            <if test="user.username!=null">or username = #{user.username}</if>
        </where>
    </sql>
    <resultMap id="user_map" type="com.yq.se.entity.db.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="create_date" property="createDate"/>
        <result column="status" property="status"/>
    </resultMap>
    <insert id="add">
        INSERT INTO
        <include refid="table_name"/>
        (<include refid="insert_fields"/>)
        VALUES(<include refid="values"/>)
    </insert>
    <update id="modify">
        UPDATE
        <include refid="table_name"/>
        <include refid="set"/>
        <include refid="where"/>
    </update>
    <delete id="delete">
        DELETE FROM
        <include refid="table_name"/>
        WHERE
        id = #{id}
    </delete>
    <select id="selectById" resultMap="user_map">
        SELECT
        <include refid="fields"/>
        FROM
        <include refid="table_name"/>
        WHERE
        id = #{id}
    </select>
    <select id="selectAll" resultType="com.yq.se.entity.db.User">
        SELECT
        <include refid="fields"/>
        FROM
        <include refid="table_name"/>
        <where>
            <if test="true">status!=-1</if>
            <if test="status!=null">AND status=#{status}</if>
            <if test="beginTime!=null">AND create_date &gt; #{beginTime}</if>
            <if test="endTime!=null">AND create_date &lt; #{endTime}</if>
        </where>
        <if test="page!=null">
            <if test="page.order!=null">
                ORDER BY ${page.order}
            </if>
        </if>
        <if test="page!=null">
            <if test="page.begin!=null">
                <if test="page.size!=null">
                    limit #{page.begin} , #{page.size}
                </if>
            </if>
        </if>
    </select>
    <select id="count" resultType="int">
        SELECT
        COUNT(*)
        FROM
        <include refid="table_name"/>
        <where>
            <if test="true">status!=-1</if>
            <if test="status!=null">AND status=#{status}</if>
            <if test="beginTime!=null">AND create_date &gt; #{beginTime}</if>
            <if test="endTime!=null">AND create_date &lt; #{endTime}</if>
        </where>
    </select>
    <select id="selectByUsername" resultMap="user_map">
        SELECT * FROM t_user WHERE username = #{username}
    </select>
    <select id="selectRegisterCountForEveryMonth" resultType="com.yq.se.entity.dto.MonthCount">
        SELECT DATE_FORMAT(create_date,&apos;%m&apos;) AS month,COUNT(id) AS count FROM t_user GROUP BY DATE_FORMAT(create_date,&apos;%m&apos;)
    </select>
</mapper>